* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  font-family: "Segoe UI",sans-serif;
}

body {
  background-color: #fcfcfc;
  height: 100%;
}

header {
  display: flex;
  padding: 16px 24px;
  margin-bottom: 16px;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(222, 226, 230);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.075);
}

header .sayt-nomi {
  margin-right: auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

header .menyu {
  margin-right: 16px;
}

.tugma {
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.tugma-qizil {
  background-color: #7853b0;
  color: #ffffff;
  border-color: #7853b0;
}
.tugma-qizil:hover {
  background-color: #60428d;
}

.tugma-yashil {
  background-color: #ffffff;
  border-color: #6c757d;
  color: #6c757d;
}
.tugma-yashil:hover {
  background-color: #6c757d;
  color: #ffffff;
}

.havola {
  font-size: 16px;
  color: #000000;
}

.havola:hover {
  text-decoration: underline;
}

.quti {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .quti {
    max-width: 1140px;
  }
}

.shakl-maydoni {
  display: block;
  width: 100%;
  padding: 8px 12px;
  margin: 15px 0;
  margin-right: 16px;
  border-radius: 5px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
}

/* Qiymatlar */
.to-1 {
  margin-right: 16px;
}
